{% extends "blog/base.html" %}

{% block title %}Поделиться публикацией{% endblock %}

{% block content %}

{% if sent %}
    <h1>E-mail успешно отправлено</h1>
    <p>
        "{{ post.title }}" был успешно отправлен на {{ form.cleaned_data.to }}.
    </p>
{% else %}
    <h1>Поделится "{{ post.title }}" по e-mail</h1>

    <form method="post" novalidate>
        {% csrf_token %}

        <div class="mb-2">
            {{ form.name }}
            {% if form.name.errors %}
                <div class="text-danger">
                    {{ form.name.errors }}
                </div>
            {% endif %}
        </div>

        <div class="mb-2">
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>

        <div class="mb-2">
            {{ form.to }}
            {% if form.to.errors %}
                <div class="text-danger">
                    {{ form.to.errors }}
                </div>
            {% endif %}
        </div>

        <div class="mb-2">
            {{ form.comments }}
            {% if form.comments.errors %}
                <div class="text-danger">
                    {{ form.comments.errors }}
                </div>
            {% endif %}
        </div>

        <input type="submit" value="Отправить e-mail" class="btn btn-primary mb-3">
    </form>

{% endif %}

<p><a href="{{ post.get_absolute_url }}">Вернуться к посту</a></p>

{% endblock %}